body {
    font-family: 'Playfair Display', serif;
    background-color:  #f8f9fa;

    
}
a:link, a:hover, a:visited, a:active{
    color: black;
    text-decoration: none;   
}
nav {
    margin-top: 1rem;
}
#index_content {
    margin-top: 6rem;

}

#index_content h2 {
    line-height: 2;
}

.about_book{
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.about_author{
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
